<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
The <a href="http://google.com">Together everyone achieves more</a>
so why are you doing a one man arm march. We are a team of talented experts at your disposal
with <a href="http://google.com">over 10 years experience</a>. 
</p>