<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Get help on the you business process and development at the
<a href="http://railstutorial.org/help">Route101 Resources help page</a>.
To get help on this business app, see the
<a href="http://googl.com">Make Business Easy Page</a>.
</p>